<template>
  <div class="colortwister">
    <h1>Color Twister</h1>
    <h3>
      Select the color that the word is describing and not the color of the word.
    </h3>
    <div v-if="!gameActive">
      <el-button v-on:click="gameStart" type="primary">Start New Game</el-button>
    </div>
    <div v-if="gameActive">
      <el-button-group>
          <el-button v-for="colorButton in colorButtons" :key="colorButton.color" :style="{background: colorButton.color}" v-on:click="answer(colorButton.color)"></el-button>
      </el-button-group>
      <div class="question" :style="{color: questions[currentQuestionIndex].color}">{{ questions[currentQuestionIndex].text }}</div>
      <div class="score">Score: {{score.points}}</div>
      <div class="questionCount">Question: {{currentQuestionIndex+1}} / {{questions.length}}</div>
    </div>
    <div v-if="canSubmitScore  && !gameActive">
      <h3>
        Nice Job!  You got a score of {{score.points}}.  You can submit it to the leaderboard!
      </h3>
      <div>
        <el-input class="displayNameInput" size="small" placeholder="Display Name" v-model="score.username"></el-input>
      </div>
      <el-button v-on:click="postScore" type="primary">Submit to leaderboard</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ColorTwister',
  props: {
  },
  methods: {
    gameStart: function() {
      this.gameActive = true;
      this.currentQuestionIndex = 0;
      this.score.points = 0;
    },
    gameEnd: function() {
      this.gameActive = false;
      this.canSubmitScore = true;
    },
    postScore: function(){
      this.canSubmitScore = false;
      this.axios.post(this.api + '/games/1/scores', this.score).then((result) =>{
        console.log(result);
      }).catch((error) => {
        console.log(error);
      }).finally(() => {
        this.canSubmitScore = false;
        this.getLeaderboard();
      });

    },
    answer: function(color) {
      if(color == this.questions[this.currentQuestionIndex].text){
        this.score.points++;
        this.nextQuestion();
      }else{
        this.nextQuestion();
      }
    },
    nextQuestion: function() {
      if(this.currentQuestionIndex < this.questions.length-1){
        this.currentQuestionIndex++;
      }
      if(this.currentQuestionIndex == this.questions.length-1){
        this.gameEnd();
      }
    },
    getLeaderboard: function() {
      this.axios.get(this.api + '/games/1/scores').then((result) =>{
        this.leaderboard = result;
      }).catch((error) => {
        console.log(error);
      }).finally(() => {
      });
    }
  },
  data () {
    return {
      colorButtons:[
      { color:"red"},
      { color:"blue"},
      { color:"black"},
      { color:"green"},
      { color:"yellow"},
      { color:"purple"}
      ],
      questions:[
      { color:"red", text:"blue"},
      { color:"blue", text:"green"},
      { color:"black", text:"red"},
      { color:"green", text:"purple"},
      { color:"yellow", text:"yellow"},
      { color:"purple", text:"purple"},
      { color:"blue", text:"red"},
      { color:"red", text:"blue"},
      { color:"green", text:"black"},
      { color:"black", text:"purple"},
      ],
      currentQuestionIndex:0,
      score: {
        username:"",
        points:0,
        gameId:1
      },
      leaderboard:"",
      gameActive:false,
      canSubmitScore:false,
      api:"http://localhost:3000",
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question{
  font-size:600%;
  font-weight:bold;
  margin:30px;
}
.score{
  font-size:200%;
  font-weight:bold;
}
.questionCount{
  font-size:200%;
  font-weight:bold;
}
.displayNameInput{
  margin-bottom:15px;
  width:300px;
}
</style>
